<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magepow_onestepcheckout>
            <general>
                <notice_enable>1</notice_enable>
                <notice_type>announcement,new_update,marketing</notice_type>
                <menu>0</menu>
                <enabled>1</enabled>
                <title>One Step Checkout</title>
                <description></description>
                <allow_guest_checkout>1</allow_guest_checkout>
                <show_billing_address>0</show_billing_address>
                <redirect_to_one_step_checkout>0</redirect_to_one_step_checkout>
                <auto_detect_address>eav</auto_detect_address>
                <google_api_key>AIzaSyDOorkShHO1xhw2zbjz-OZdSKP-xQ65AS0</google_api_key>
                <experian_api_key>dfe1d067-88ba-498d-b9eb-7c3b51fe44f0</experian_api_key>
            </general>
            <display_configuration>
                <enabled_login_link>1</enabled_login_link>
                <enabled_review_cart_section>1</enabled_review_cart_section>
                <show_item_list_toggle>1</show_item_list_toggle>
                <show_product_image>1</show_product_image>
                <show_coupon>1</show_coupon>
                <enabled_comments>1</enabled_comments>

                <show_toc>1</show_toc>
                <enabled_newsletter>1</enabled_newsletter>
                <enabled_gift_wrap>0</enabled_gift_wrap>
                <review_cart_section>
                    <enabled_review_cart_section>1</enabled_review_cart_section>
                </review_cart_section>
                <newsletter>
                    <enabled_newsletter>1</enabled_newsletter>
                </newsletter>
            </display_configuration>

            <design_configuration>
                <page_layout>3columns</page_layout>
                <page_design>default</page_design>
                <heading_background>#61C8FF</heading_background>
                <heading_text>#FFFFFF</heading_text>
                <radio_button_style>with_gap</radio_button_style>
                <checkbox_button_style>default</checkbox_button_style>
                <material_color>#1979c3</material_color>
                <place_order_button>#46C3C2</place_order_button>
            </design_configuration>
            <geoip_configuration>
                <enable_geoip>0</enable_geoip>
            </geoip_configuration>
            <field>
                <position>[{"code":"firstname","colspan":6},{"code":"lastname","colspan":6},{"code":"street","colspan":12},{"code":"country_id","colspan":6},{"code":"city","colspan":6},{"code":"postcode","colspan":6},{"code":"region_id","colspan":6},{"code":"company","colspan":6},{"code":"telephone","colspan":6}]</position>
            </field>
        </magepow_onestepcheckout>
    </default>
</config>
